:root{
    --color-primary:#148F2B;
    --color-primary-degraded:#148f2b9e;
    --background: rgb(248, 248, 248);
    --footer-color: #2c3136;
}   

*{
    font-family:'Montserrat', sans-serif;
    padding: 0px;
    margin:0px;
}

::-webkit-scrollbar{
    width:7px;
}
::-webkit-scrollbar-track{
    background: #ccc;
}

::-webkit-scrollbar-thumb{
    background: var(--color-primary);
}

.logo:hover{
    cursor: pointer;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-ec{
    background-image: url("../img/flag-ecs.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.3rem;
    padding-top:20px;
}

.logo{
   
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; 
}
.logo:before{
    content:'NU';
    color: var(--color-primary);
}

nav h1{
    line-height: 50px;  
    margin-left: 50px;
}
nav ul{
    list-style-type: none;
    margin-right: 60px;
    height: 70px;

}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}
nav ul a{
    text-decoration: none;
    display: inline-block;
    height: 100%;
    line-height:50px;
    color: #000;
    font-weight: bold;
}


/*MAIN FRAME panel1*/

.main-frame{
    padding: 50px 0px 50px 0px;
    width: 70%;
    margin: auto;
   
}

.panel1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cambio{
    flex:50%;
}

.cambio-h2{
    padding-right: 50px;
    padding-bottom: 20px;
    font-size: 2.6rem;
}
.cambio-btn{
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: bold;
    font-size:1.2rem;
    margin-top:20px;
    background: var(--color-primary);
    color:#fff;
    transition: all .5s ease; 
}
.cambio-btn:hover{
    background: var(--color-primary-degraded);
    cursor:pointer;
}
.fram-photos{
    flex:50%;
}

.fram-photos img{
    width: 80%;
    height: 100%;
    border-radius: 20px;
}

.fram-photos img:last-child{
    transform: translateX(55px);
}

/*PANEL 2*/

.panel2{
    background: var(--color-primary);
    
    width:100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.3rem;
    font-weight: bold;
    color: #fff;
}
.panel2-text{
    padding-right: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.calc{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 40px;
}



.calc div{
    margin-right: 20px;
    line-height: 40px;
}
.input-ruble{
    flex:40%;
    margin-right: 10px;
    outline: none;
    border:none; 
     
    font-size: 1.2rem;
    width:80%;
    padding-left:10px;
    font-weight: bold;
 
}

.calculator-btn{
    border: none;
    border-radius: 5px;
    width:70px;
    height:40px;
    flex:30%;
    font-weight: bold;
    background: #194d22;
    color: #fff;
    font-size: 1.2rem;
}

.calculator-btn:hover{
    cursor:pointer;
    
}

.ruble-value{
    font-size: 3.5rem;
    text-shadow: 2px 1px 3px  rgb(20, 20, 20);
}

.output-ruble, .ruble-icon{
    display: inline-block;
}


.container-2{
    
    padding: 5%;
    box-sizing: border-box;
    background-color: var(--background) ;
 
}
.container-2 h1{
    margin: 25px 0px 50px 0px;
    font-weight: bold;

}

.grid-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:20px 20px;
    
}


.card{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(223, 223, 223);
    padding: 10px 20px 30px 20px;
  
}
.card p{
    padding-top: 10px;
   font-size: 1.2rem;
    color: #000;
    text-align: justify;
}
.card4{
    grid-column: 1 / 3;
}

footer{
    display: flex;
    background-color: var(--footer-color);
    padding: 20px 50px 20px 50px ;
    color: #fff;
   
}
.footer{
    flex:60%;
    
    
   
}
.footer-list{
    font-size: 1rem;
    list-style-type: none;
    padding: 20px 20px 0px 20px;
}
.footer-icons{
    flex:40%;
   
    padding-right: 100px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.icons-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:80px;
  
    grid-gap: 5px 8px;
}
.icons-grid img{
    width: 100%; 
    height: 100%;
}
.icons-grid div{
    overflow: hidden;
    border-radius: 10px;
    width: 80px;
    height: 80px;
}


/* WS logo*/

.fixed-ws{
    position: fixed;
    right: 4%;
    top: 100%;
    display: flex;
    align-items: center;
    background: #cdc;
    transform: translateY(-120%);

    border-radius:10px;
    text-decoration: none;
    z-index: 10000;
}
.fixed-ws:hover{
    cursor: pointer;
    
}
.fixed-ws div{
    box-sizing: border-box;
    padding: 20px;
    color: #000;
    font-weight: bold;
    

}


.fixed-ws img{
    width: 70px;
    height: 70px;

}


/*CONTACT HTML*/


.contact-title{
    text-align: center;
    margin-bottom: 20px;
}

.contact-ul{
    list-style-type: none;
    margin-top: 20px;
}

.contact-text{
    display: flex;
}

.contact-text h3{
    line-height: 50px;
}
.box{
    width: 50px;
    height: 50px;
    background-color: red;
}

.contact-img{
    width: 50px;
    height:50px;
}
.contact-img:hover{

    cursor:pointer;
}
.contact-ws{
  
    margin-left: 20px;
}
.contact-tele{

    margin-left: 55px;
}




@media  (max-width:1000px){
    .main-frame{
        width: 80%;
    }
    .panel2{
        flex-direction: column;
    }
    .panel1{
        flex-direction: column;
    }
    .cambio{
        margin-bottom: 90px;
    }
    .cambio-h2{
        text-align:center;
        padding:0px;
    
    }
    .cambio-btn{
        position: relative;
        left: 50%;
        transform: translateX(-50%);

    }
    .fram-photos{
        display: flex; 
        
    }
    .fram-photos img{
        width: 50%;
    }
    .fram-photos img:last-child{
        transform: translateX(0px);
    }
    .panel2{
        padding:50px 0px 70px 0px;
    }
    .panel2-text{
        margin-top: 20px;
        margin-bottom: 30px; 
        padding: 0px !important;
        text-align: center;
    }
    .output-ruble{
        text-align: center;
    }
    
}



@media (max-width: 800px){
    .cambio h3{
        text-align: center;
    }
    .card4{
        grid-column: auto;
    }
    .grid-cards{
        grid-template-columns: auto auto;
    }

    .card5{
        grid-column: 1 / 3;
    }
    .footer-icons{
        padding-right: 0px;
        flex:40%;
    }
    .footer{
        flex:60%;
    }
    .footer-list{
        padding: 0px;
        padding-top:20px;   
    }
}


@media (max-width: 550px){

    .main-frame{
        width: 90%;
    }
    .fram-photos{
        flex-direction: column;
        padding: 0px 30px 0px 30px;
    }
    .fram-photos img{
        width: 100%;
    }
    .panel2{
        margin:0px;
        padding: 40px 0px 40px 0px;
        flex-direction: column;
     
    }

    .panel2-text{
        padding: 0px;
        margin: 0px;
    }
  
    .cambio{
        margin-bottom: 50px;
    }
    .fram-photos img{
        margin-bottom: 10px;
    }
    nav ul{
        display: none;
    }
    nav img{
        width: 100%;
        height:100%;
    }
    .calc{
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 20px 0px 0px 0px;
    }
    .calc div{
        margin: 0px;
    }
    .input-ruble{
        height: 50px;
        flex:none;
        padding: 0px 0px 0px 10px;
    }
    .calculator-btn{
        width: 150px;
        font-size: 1.4rem;
        height:50px;
        margin-top: 10px;
        margin-bottom: 10px;
        flex:none;
    }
    .grid-cards{
        grid-template-columns: auto ;
    }
    
  
   .card5{
        grid-column: auto ;
    }
    footer{
        flex-direction: column;
    
    }
}