:root{
    --color-primary:#148F2B;
    --color-primary-degraded:#148f2b9e;
}

*{
    font-family:'Montserrat', sans-serif;
    padding: 0px;
    margin:0px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.3rem;
    padding-top:20px;
}


.logo:before{
    content:'NU';
    color: var(--color-primary);
}

nav h1{
    line-height: 50px;  
    margin-left: 50px;
}
nav ul{
    list-style-type: none;
    margin-right: 60px;

}
nav ul li{
    display: inline-block;
    width: 100%;
    height: 100%;
}
nav ul a{
    text-decoration: none;
    display: inline-block;
    height: 100%;
    line-height:50px;
    color: #000;
    font-weight: bold;
}


/*MAIN FRAME panel1*/

.main-frame{
    padding: 50px 0px 50px 0px;
    width: 70%;
    margin: auto;
}

.panel1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cambio{
    flex:50%;
}

.cambio-h2{
    padding-right: 50px;
    font-size: 2.6rem;
}
.cambio-btn{
    outline: none;
    border:none;
    width:145px;
    height:54px;
    font-size:1.3rem;
    margin-top:10px;
    background: var(--color-primary);
    color:#fff;
    font-weight: bold;
    transition: all .5s ease; 

}
.cambio-btn:hover{
    background: var(--color-primary-degraded);
    cursor:pointer;
}
.fram-photos{
    flex:50%;
}

.fram-photos img{
    width: 80%;
    height: 100%;
    border-radius: 20px;
}

.fram-photos img:last-child{
    transform: translateX(55px);
}

/*PANEL 2*/

.panel2{
    background: var(--color-primary);
    height: 50vh;
    width:100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.3rem;
    font-weight: bold;
    color: #fff;
}
.panel2-text{
    padding-right: 10%;
    
}

.calc{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}



.calc div{
    margin-right: 20px;
    line-height: 50px;
}
.input-ruble{
    flex:40%;
    margin-right: 10px;
    outline: none;
    font-size: 1.2rem;
    width:80%;
    padding-left:10px;
    font-weight: bold;
}
.calculator-btn{
    border: none;
    border-radius: 10px;
    width:70px;
    height:50px;
    flex:30%;
    font-weight: bold;
    background: #146A8F;
    color: #fff;
    font-size: 1.2rem;
}

.calculator-btn:hover{
    cursor:pointer;
}

.ruble-value{
    font-size: 3.5rem;
    text-shadow: 2px 1px 3px  rgb(20, 20, 20);
}

.output-ruble, .ruble-icon{
    display: inline-block;
}


@media  (max-width:1000px){
    .main-frame{
        width: 80%;
    }
    .panel2{
        flex-direction: column;
    }
    .panel1{
        flex-direction: column;
    }
    .cambio{
        margin-bottom: 90px;
    }
    .cambio-h2{
        text-align:center;
        padding:0px;
    }
    .cambio-btn{
        position: relative;
        left: 50%;
        transform: translateX(-50%);

    }
    .fram-photos{
        display: flex; 
        
    }
    .fram-photos img{
        width: 50%;
    }
    .fram-photos img:last-child{
        transform: translateX(0px);
    }
    .panel2{
        padding:50px 0px 150px 0px;
    }
    .panel2-text{
        margin-top: 90px;
        margin-bottom: 50px;
        padding: 0px;
        text-align: center;
    }
    .output-ruble{
        text-align: center;
    }
    
}


@media (max-width: 550px){

    .fram-photos{
        flex-direction: column;
        padding: 0px 55px 0px 55px;
    }
    .fram-photos img{
        width: 100%;
    }
    .panel2{
        margin:0px;
     
    }
    .panel2-text{
        padding-top: 70px;
    }
    .cambio{
        margin-bottom: 50px;
    }
    .fram-photos img{
        margin-bottom: 10px;
    }
    nav ul{
        display: none;
    }
    .calc{
        flex-direction: column;
        align-items: center;
    }
    
    .input-ruble{
        height: 70px;
        flex:none;
    }
    .calculator-btn{
        width: 150px;
        font-size: 1.4rem;
        height:70px;
        margin-top: 10px;
        flex:none;
    }
    
    
}